# .gitignore

# --- SECRETOS ---
.env
.env.*

# --- PYTHON ---
__pycache__/
*.pyc
*.pyo

# --- DJANGO ---
*.sqlite3
backend/staticfiles/
static/
backend/media/
media/

# --- DOCKER ---
postgres_data/

# --- ENTORNOS VIRTUALES ---
venv/
.venv/

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
desktop.ini

# --- EDITORES ---
.vscode/

# --- LOGS ---
*.log
logs/

# --- BACKUPS ---
*.bak
*.backup
docker-compose.yml.bak